{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
